<app-navbar></app-navbar>

<!--<mat-toolbar   class="heading">Frequently Asked Questions (FAQs)
  <span class="example-spacer"></span>
  <a class="nav-link" aria-current="page" href="./homepage"><i class="glyphicon glyphicon-home"></i></a>
  </mat-toolbar>-->
  <br>
  <!--start-->
  <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container">
    
      <h4>Product Support: </h4><br>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
            How do I get Product Support?
          </a>
        </h3>
        </div>
        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
        <div class="panel-body px-3 mb-4">
          <p style="font-size: 14px;">First go through the FAQ's to see if you find an answer to your question. You will also find valuable information under other sections. If your problem remains unsolved please raise a ticket with elaborate description.</p>
        </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
           How do I raise a ticket?
          </a>
        </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
        <div class="panel-body px-3 mb-4">
          <p style="font-size: 14px;">Go to homepage. Click on the plus button under the heading "Raise a ticket". Fill the details in the required format to enable the submit button. Finally, click on Submit.</p>
        </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
            How do I follow up a ticket?
          </a>
        </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
        <div class="panel-body px-3 mb-4">
          <p style="font-size: 14px;">After the ticket is raised, you can find out the status and list of all tickets by clicking on the button under the heading view all ticket on homepage</p>
        </div>
        </div>
      </div>
    </div>
    </div>
    </section>
  
<!--end-->
		
	
		<!--start-->
    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
      <div class="container">
      
        <h4>Technical Services: </h4><br>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
              What products can be covered in Technical Support?
            </a>
          </h3>
          </div>
          <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
          <div class="panel-body px-3 mb-4">
            <p style="font-size: 14px;">All the products bought from our site are liable for technical support.</p>
          </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              How long can it take?
            </a>
          </h3>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body px-3 mb-4">
            <p style="font-size: 14px;">We try to give a solution in the next 24hrs. </p>
          </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
              Are there any limits on tickets?
            </a>
          </h3>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body px-3 mb-4">
            <p style="font-size: 14px;"> With valid entitlement, there are no limits on the number of questions/tickets, who asks the question, or the topic (as long as it is reasonably related to the product). There is a 16-hour limit on the effort we spend on an individual case before requiring a management review of the case.</p>
          </div>
          </div>
        </div>
      </div>
      </div>
      </section>
    
  <!--end-->
      
    <!--start-->
    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
      <div class="container">
      
        <h4>Return/Replace: </h4><br>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
              What should I do if I get something else instead of my ordered accessory?
            </a>
          </h3>
          </div>
          <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
          <div class="panel-body px-3 mb-4">
            <p style="font-size: 14px;">You can return or replace the item by raising a ticket with proper details of the requirement.</p>
          </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              Can I return the product if I am not happy with it? 
            </a>
          </h3>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body px-3 mb-4">
            <p style="font-size: 14px;">Products once sold cannot be returned.
              However, if a product is found defective it will be replaced. </p>
          </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
          <h3 class="panel-title">
            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
              What kind of warranty do you offer?
            </a>
          </h3>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body px-3 mb-4">
            <p style="font-size: 14px;"> All products are covered by the manufacturer's 12-month warranty unless otherwise stated.</p>
          </div>
          </div>
        </div>
      </div>
      </div>
      </section>
    
  <!--end-->
      
    
		
