<section class="banner">
    <div class="banner-box" >
      <div class="intro-text">
        <div class="intro-text-box" text="center">
          <h1>WELCOME</h1>
        </div>
      </div>
      <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg" alt="banner2" />
    </div>
  </section>


<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Customer Service Desk</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <button mat-button>Contact Us</button>
        <i class=" glyphicon glyphicon-earphone"></i>
        <button mat-button>About Us</button>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    
        
        
    </mat-toolbar-row>
</mat-toolbar>

<br><br>

<button mat-raised-button color="accent" type="button" (click)="raiseTicket()">Raise a ticket</button>
<br><br>
<p>Welcome</p>
