<mat-toolbar   class="heading">Ticket List
  <span class="example-spacer"></span>
  <a class="nav-link" aria-current="page" href="./homepage"><i class="glyphicon glyphicon-home"></i></a>
  <a class="link" aria-current="page" href="./faq">Help</a></mat-toolbar>
  <br><br>





<div class="container">
<table class="table table-striped "  >
  <thead>
    <tr>
      <th data-field="date" scope="col">Date</th>
      <th scope="col">Device</th>
      <th scope="col">Category</th>
      <th scope="col">Contact No.</th>
      <th scope="col">Email</th>
      <th scope="col">Issue</th>
      <th scope="col">Status</th>
      <th scope="col">Message</th>
      
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of allTicket">
      
      <td>  {{ticket.date}}  </td>
      <td>  {{ticket.device}}  </td>
      <td>  {{ticket.category}}  </td>
      <td>  {{ticket.phone}}  </td>
      <td>  {{ticket.email}}  </td>
      <td>  {{ticket.desc}}  </td>
      <td>  {{ticket.state}} </td>
      <td> {{ticket.message}} </td>
      
      <td>  <button (click)="deleteTicket(ticket)" class="btn btn-danger "><span class="glyphicon glyphicon-trash"></span></button>    </td>
      
    </tr>
  </tbody>
</table>

</div>