
  <mat-toolbar   class="heading">About Us
    <span class="example-spacer"></span>
    <a class="nav-link" aria-current="page" href="./homepage"><i class="glyphicon glyphicon-home"></i></a>
  </mat-toolbar>
   <br>
    <h2 class="top">UniTech</h2>
    <p class="para">This is our first Angular Project. It is a customer service desk for various mobile and laptop accessories like charger, mouse, keyboard etc. We have used HTML, CSS, JS, Bootstrap, Angular along with Angular Material which is a library having various UI components.The editor used is Visual Studio Code. </p>
    
    <br><br>
  
  <h2 class="top">Our Team</h2><br>
  
 

  <div class="row">
    <div class="col-lg-4 mb-3 text-center">
      <div class=" card align-items-center text-white bg-dark mb-3" style="width:32rem; height: 28rem;">
        
        <div class="card-body">
          <h2>Shanvi</h2><br>
          <p class="title">Representative</p>
          <p>Angular Academy TCS Interactive</p>
          <p>sa@helpdesk.com</p><br><br>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-3 text-center">
        <div class=" card align-items-center  text-white bg-dark mb-3" style="width:32rem; height: 28rem;">
          
          <div class="card-body">
            <h2>Priya</h2><br>
            <p class="title">Team Member</p>
            <p>Angular Academy TCS Interactive</p>
            <p>py@helpdesk.com</p><br><br>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3 text-center">
        <div class=" card align-items-center text-white bg-dark mb-3" style="width:32rem; height: 28rem;">
          
          <div class="card-body">
            <h2>Monika</h2><br>
            <p class="title">Team Member</p>
            <p>Angular Academy TCS Interactive</p>
            <p>mk@helpdesk.com</p><br><br>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  
    
  </div>
  
  
  
    <!--<div class="col-lg-6 mb-4 text-center">
      <div class="card align-items-center card text-white bg-dark mb-3 "  style="width:26rem; height: 30rem;">
        <img class="card-img-top  " src="https://png.pngitem.com/pimgs/s/510-5107282_icon-hd-png-download.png" alt="xyz">
        
        <div class="card-body  ">
          <h5 class="card-title">Check Service Ticket</h5>
          
          <a href="./status" mat-raised-button class="btn mybtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click on the button to view all the tickets">My List</a>
        </div>
      </div>
    </div>-->
  