<mat-toolbar   class="heading">
    
    <a class="logo heading" >UniTech</a>
    <span class="example-spacer"></span>

    <a class=" nav nav-link" aria-current="page" routerLink="/homepage" routerLinkActive="active" ><i class="glyphicon glyphicon-home"></i></a>

    <a class=" nav nav-link" aria-current="page" routerLink="/userpro" routerLinkActive="active">My Profile</a>
    

    <li class="nav  dropdown">
    <a class=" nav-link dropdown-toggle" routerLink="#" id="navbardrop" data-toggle="dropdown" aria-haspopup="true">
      Services
    </a>
    <div class=" nav dropdown-menu">
        <a class="dropdown-item" routerLink="/faq" routerLinkActive="active">Return Services</a>
        <li><hr class="dropdown-divider"></li>
        <a class="dropdown-item" routerLink="/faq" routerLinkActive="active">Technical Services</a>
        <li><hr class="dropdown-divider"></li>
        <a class="dropdown-item" routerLink="/faq" routerLinkActive="active">Product Support</a>
      </div>
</li>

      <a class=" nav nav-link" aria-current="page" routerLink="/about" routerLinkActive="active">About Us</a>
      <a class=" nav nav-link" aria-current="page" routerLink="/faq" routerLinkActive="active">Help</a>

      <a class=" nav nav-link " aria-current="page" routerLink="" routerLinkActive="active"><span class="glyphicon glyphicon-off"></span></a>

    </mat-toolbar>
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">UniTech</a>
      <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <!--col auto start-->
      <!--<div class="col-auto pull-right">
      <div >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/homepage" routerLinkActive="active" ><i class="glyphicon glyphicon-home"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/userpro" routerLinkActive="active">My Profile</a>
          </li>-->
          
          
          <!-- Dropdown -->
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbardrop" data-toggle="dropdown" aria-haspopup="true">
          Services
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/faq" routerLinkActive="active">Return Services</a>
          <li><hr class="dropdown-divider"></li>
          <a class="dropdown-item" routerLink="/faq" routerLinkActive="active">Technical Services</a>
          <li><hr class="dropdown-divider"></li>
          <a class="dropdown-item" routerLink="/faq" routerLinkActive="active">Product Support</a>
        </div>
      </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/about" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active"><span class="glyphicon glyphicon-off"></span></a>
          </li>
         
          
        </ul>
      </div>
    </div>
  </div>-->
    <!--col auto end-->
  <!--</div>
  </nav>-->