.heading{
    background-color: rgb(37, 150, 138) !important;
    color:white;
  
    padding-right: 20px;
    
    padding-left: 20px;
    
    
  }
  .example-spacer {
    flex: 1 1 auto;
   
  }
  .link{
    color: white;
    margin:0 10px;
    font-size: 18px;
  }
  .nav-link{
    font-size: 14px;
    color: white;
  }
  .logo{
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Segoe Script';
  }
  .nav{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin:0 10px;

}
