.main-div mat-card{
    
    padding:0px;

}
.login-form{
    padding:20px;
}

.container{
    background-image: url("https://st2.depositphotos.com/1854227/11078/i/950/depositphotos_110783484-stock-photo-gadgets-and-office-supplies-studio.jpg");  
 /*background-image: url("https://c0.wallpaperflare.com/preview/994/1011/664/device-earphones-electronics-gadgets.jpg"); */
/*background-image: url("https://mdbootstrap.com/img/Photos/Others/img%20%2842%29.jpg");*/
/*background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__340.jpg");*/
/*background-image: url("https://images.pexels.com/photos/1156684/pexels-photo-1156684.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500.jpg");*/
background-size: cover;
height: 100px;
background-position: center; 
}


.heading{
    background-color: rgb(37, 150, 138) !important;
   
    font-weight: bolder;
    font-family: 'Segoe Script';
    font-size: 30px;
}


