
<mat-toolbar   class="heading">UniTech
    <span class="example-spacer"></span>
    <a class="nav-link active" routerLink="" routerLinkActive="active" aria-current="page" ><span class="glyphicon glyphicon-off"></span></a>
    </mat-toolbar>
    <br><br>
    <div class="list ">
      <table class="table table-striped " >
        <thead>
          <tr>
            <th scope="col">Ticket No</th>
            <th scope="col">Date</th>
            <th scope="col">Device</th>
            <th scope="col">Category</th>
            <th scope="col">Contact No.</th>
            <th scope="col">Email</th>
            <th scope="col">Issue</th>
            <th scope="col">Status</th>
            <th scope="col">Message</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of allTicket">
            <td>  {{ticket.id}} </td>
            <td>  {{ticket.date}}  </td>
            <td>  {{ticket.device}}  </td>
            <td>  {{ticket.category}}  </td>
            <td>  {{ticket.phone}}  </td>
            <td>  {{ticket.email}}  </td>
            <td>  {{ticket.desc}}  </td>
            <td>  {{ticket.state}}  </td>
            <td>   {{ticket.message}}  </td>
            <td>  <button (click)="editTicket(ticket)" class="btn btn-warning " > <span class="glyphicon glyphicon-pencil"></span></button>  </td>
            <td>  <button (click)="deleteTicket(ticket)" class="btn btn-danger "><span class="glyphicon glyphicon-trash"></span></button>    </td>
            
          </tr>
        </tbody>
      </table>
      
  
    <div class="container ">
      <form  >
    
    
        
    
       
    
        <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" name="category" [(ngModel)]="ticketObj.category" required>
          <option hidden>Please select</option>
          <option>Technical Services</option>
          <option>Return / Replace</option>
          <option>Product Support</option>
          <option>Report a bug</option>
          <option>Others</option>
        </select>
      </div>
        
    
    
     
      
        <div class=" form-group">
          <label for="desc">Issue Description(min 10 char)</label>
          <textarea matInput class="form-control" name="desc" style="height:100px" placeholder="Please enter your complete issue details here" required minlength="10" [(ngModel)]="ticketObj.desc"></textarea>
        </div>
        
      <div class="form-group">
        <label for="state">Status</label>
        <select class="form-control" name="state" [(ngModel)]="ticketObj.state" required>
          <option hidden>Please select</option>
          <option>Pool</option>
          <option>In Progress</option>
          <option>Resolved</option>
          <option>Taken</option>
          
        </select>    
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <input class="form-control" name="message" [(ngModel)]="ticketObj.message" required>
         
      </div>
      <div class="text-center">
        <button mat-raised-button class="btn text-center" (click)="updateTicket()" *ngIf="isEdit" type="button" >Update</button>
      </div>
        
      </form>
    </div>
  <br>
  
  
  </div>