  
 
<!--toolbar start-->

  <mat-toolbar   class="heading">Ticket Registration
  <span class="example-spacer"></span>
  <a class="nav-link" aria-current="page" href="./homepage"><i class="glyphicon glyphicon-home"></i></a>
  <a class="link" aria-current="page" href="./faq">Help</a></mat-toolbar>
  <!--toolbar end-->

  <br>

  <!--form start-->

  <div class="container ">
    
  <form  #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
<!--Property binding for date-->
    <div class="form-group">
      <label for="date">Date:</label>
      <input name="date" type="date"  [ngModel]="today | date:'yyyy-MM-dd'"  
      (ngModelChange)="today = $event"    
      class="form-control form-control-rounded"   required>
    </div>
    

    <div class="form-group">
      <label for="device">Device</label>
      <select class="form-control" name="device" ngModel required>
        <option hidden>Please select</option>
        <option>Charger</option>
        <option>Battery</option>
        <option>Earphones</option>
        <option>USB</option>
        <option>Others</option>
      </select>
    </div>

    <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" name="category" ngModel required>
      <option hidden>Please select</option>
      <option>Technical Services</option>
      <option> Return / Replace</option>
      <option>Product Support</option>
      <option>Report a bug</option>
      <option>Others</option>
    </select>
  </div>
    

  <div class="form-group">
    <label for="phone">Contact No.</label>
    <input class="form-control" type="tel"  name="phone" pattern="[0-9]{10}" placeholder="" minLlength="10" maxlength="10" ngModel required>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control"  name="email" placeholder="name@example.com" ngModel required email>
  </div>
  
    <div class=" form-group">
      <label for="desc">Issue Description(min 10 char)</label>
      <textarea matInput class="form-control" name="desc" style="height:100px" placeholder="Please enter your complete issue details here" required minlength="10" ngModel></textarea>
    </div>
    
  
  <div class="text-center">
    <button mat-raised-button class="btn text-center" (click)="submitForm(myForm.value)" [disabled]="!myForm.valid" type="button" >Submit</button>
  </div>
    
  </form>
</div>
    